  <h2><%= @donut.name %></h2>
    <img src= "<%= @donut.images.first.url %>" height="325" width="325">
    <p><%= @donut.description %></p>
    <p><%= number_to_currency(@donut.price) %></p >
  <br>
    <%= form_tag "/products/#{@donut.id}", method: "patch" do %>
      <input type="text" class="form-control" name="user_id">
      <input type="text" class="form-control" name="product_id">
      <input type="text" class="form-control" name="quantity">
      <br>
      <input type="submit" value="Buy Now">
    <% end %>
  <br>
    <a href="/products/<%= @donut.id %>/edit">Edit this donut</a>
  <br>
  <br>
    <a href="/products">Back to all Donuts</a>
  <br>
  <br>
  <br>
    <%= form_tag "/products/#{@donut.id}", method: "delete" do %>
      <input type="submit" value="Delete donut">
    <% end %>