<h2><%= @donut.name %></h2>
<img src= "<%= @donut.image %>" height="325" width="325">
<p><%= @donut.description %></p>
<p>You can get this for only $<%= number_to_currency(@donut.price) %>!!!</p >
<br>
<a href="/products/<%= @donut.id %>/edit">Edit this donut</a>
<br>
<br>
<a href="/products">Back to all Donuts</a>
<br>
<br>
<br>
<%= form_tag "/products/#{@donut.id}", method: "delete" do %>
  <input type="submit" value="Delete donut">
<% end %>